methods field could be an object instead of an array  

Since each `Method Object` MUST contain a unique name. (#118) Should we not use an object instead of an array as `methods` value. The `name` keyword in `Method Object` would be replaced by keys in `methods` object.

Actually this is the same with paths in OpenAPI. Furthermore it ensures the uniqueness of the name. Quote [RFC8259 (Section 4, Objects)](https://tools.ietf.org/html/rfc8259#section-4):
 
> The names within an object SHOULD be unique.

Current behavior:
```json
{
  "openrpc": "1.0.0-rc1",
  "methods": [
    {
      "name": "get_versions",
      "summary": "List API versions"
    }
  ]
}
```

Proposal:
```json
{
  "openrpc": "1.0.0-rc1",
  "methods": {
    "get_versions": {
      "summary": "List API versions"
    }
  }
}
```

While I agree that would be equivalent and in many cases preferable, I originally took a stance against dynamically typed fields on the assumption that it would yield a less complex spec.

IMO keeping the number of different ways to represent the same thing (feature multiplicity) to a minimum is very important for on-boarding. It also makes the spec easier to write, since at the moment, we have no way to document such an amendment without addition of complexity.

At the moment, I'd advise that you implement some tooling in-between the way you wish to write the document -> the current spec. This way, we can keep the spec in the most simplistic form it can possibly be, while enabling some nice usability changes such as this. As they become more popular, we can incorporate them into the spec.

One thing that deserves emphasis is that the object keys *naturally preserve uniqueness* which is not something the [meta-schema](https://github.com/open-rpc/meta-schema) can account for. So in that right, object is in fact *better* than array for methods.

Hi @BelfordZ , thanks for your feedback. I understand that this migration could not be an easy step.
If you agree with this changes, I'll work on your well-adviced _in-between  tool_. Maybe this tool could migrate in both directions:

  - For those who want to write methods with object (next spec ?); they can convert to array with `name` field (current spec)
  - For those who want to convert array (current spec) to objects (next spec ?)

Furthermore I have a few more suggestions (out of this topic) where this tool could be very useful !

FYI I already [working on meta-schema](https://github.com/rmedaer/meta-schema/commit/64c7d01728e16080db6be59cecd0b4dcefe5560a).

@rmedaer Once again, thank you for submitting the issue, and documenting it so thoroughly. This is a great example to set for others when submitting a feature or bug.

While this does raise some good points (as you've summarized above), after careful consideration I believe this presents more challenges than solutions. 

1. Above all other reasons, we've committed to making no breaking changes other than in the event of having a bug, where bug is defined as "something defined as valid by JSON-RPC 2.0, but not representable by OpenRPC". In this case, it does not address such a bug. Any issues that this may address, I'd argue those issues can be solved in drastic ways.
1. having the methods fully self-contained in a single object, rather than having to use the keys of a parent object to infer method names, is not ideal. It makes for more programming, and generally makes the code objectively less nice (more statements required to manipulate methods).
1. interchanging field types is not something I'm interested in supporting. Ill copy the reasoning from above. "IMO keeping the number of different ways to represent the same thing (feature multiplicity) to a minimum is very important for on-boarding.". Keeping complexity low is a top priority.

It is for these reasons that I must reject the feature suggestion. That said, the addition of vendor extensions (`x-methods` if you like)  allows you to implement such additions to the spec, along with tooling to convert it to the spec.
