Schema must have a unique identifier within an OpenRPC Document

This is to address issues with tooling.

Right now we are using the contentDescriptor.name to derive the type name **and** parameter names.

This doesn't make much sense when you look at some examples. Looking at the addition method for simple math, the we currently generate type names as follows:

```typescript
export type TA = number;
export type TB = number;
export type TC = number;

function addition(a: TA, b: TB): TC {  }
```

```rust
pub type A = i64;
pub type B = i64;
pub type C = i64;

pub fn addition(&mut self, a: A, b: B) -> RpcRequest<C>;
```
Note that In the simple math example, each of a, b and c are `$ref`s to the schema for "Integer".

What is preferred is separation of schema and content descriptor such that the contentDescriptor.name refers to the name of the type solely in the context of the method to which it belongs. Having this separation means we need names for the types that are not associated or dependent on the contentDescriptor. What this allows us to do is generate, instead, is something like

```typescript
function addition(a: number, b: number): Promise<number> {  }
```

```rust
pub fn addition(&mut self, a: i64, b: i64) -> RpcRequest<i64>;
```

The problem is that the name `Integer` is only the key name in `components.schema`. If the schema was inlined in the contentDescriptor then there would be no common name between a, b and c.

To accomplish this, schema requires a unique identifier. Since JSON Schema draft 07 has the `$id` field for this purpose, it's logical to use this.

If we leave the presence of `$id` as a mere recommendation as per JSON Schema Draft 07, we will have to either
 - generate type names from the JSON Schema, or
 - inconsistently swap between using `schema.$id`, `contentDescriptor.name` or the key name in components for the type name. all of which requiring code in every down stream project to handle this.

Alternatively, and ideally, we promote `schema.$id` to be a required field. To ease migration, we add to schema-utils-js' parseOpenRPCDocument method some defaulting of $id, where the default is to combine the method name and contentDescriptor name. If the 'migration' was required, we should then spit out a console.warn with deprecation warning, stating that the next major release will no longer give the warning, and will instead error.



+1, would result in a lot cleaner API.

from [JSON Schema 7](https://json-schema.org/latest/json-schema-core.html#rfc.section.8.2)
> The "$id" keyword defines a URI for the schema, and the base URI that other URI references within the schema are resolved against. A subschema's "$id" is resolved against the base URI of its parent schema. If no parent sets an explicit base with "$id", the base URI is that of the entire document, as determined per RFC 3986 section 5 [RFC3986].


does that mean that if you `$ref` something it will start using that as the base? Would this break dereffing `components`?


Yeah maybe `$id` isn't the right key to use here. I was just reading from [here](https://json-schema.org/understanding-json-schema/basics.html):

![image](https://user-images.githubusercontent.com/1787231/57321466-3eb63c80-70b6-11e9-8461-d1c2a89d0194.png)

and I didn't think, based on that description, that it **has** to be a uri. Reading more about it now.

okay yeah we 100% dont want `$id`. Ill update to `name`

![image](https://user-images.githubusercontent.com/1787231/57321563-74f3bc00-70b6-11e9-8efd-f35aba21bdb6.png)

point # 2 is the deal breaker

https://json-schema.org/understanding-json-schema/reference/generic.html

`title` is in there... that will do!

Kinda sucks that its not 'name' though, given that we use 'name' for everything else.

Here is this issue manifesting in generator-client https://github.com/open-rpc/generator-client/issues/70

bump. 

The outcome of this was to recommend that titles are added to schema. 

While they are not required, the product of the tooling will greatly improve given named schemas.

Possibly the most notable property of having schemas named is being able to coherently split the data model layer from the API layer. This way, if your api has a less-than-optimal naming of a field, you can fix the name in the schema, which improves the docs and tooling, but doesn't affect the api functionality.